@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');

html, body, h1, h2, h3, p{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Pen Script', monospace;
}

h1, h2, h3{
    color:rgb(211, 150, 160);
    text-align: center;
    margin:2rem 0;
}

a{
    text-decoration: none;
}

.btn-wrapper{
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn{
    font-size: 20pt;
    border-radius: 5px;
    color:pink;
    border: 2px solid pink;
}

.btn-directions{
    font-size: 15pt;
    border-radius: 2px;
    color:pink;
    border: 2px solid pink;

    margin: 0;
}

.btn-size{
    font-size: 15pt;
    border-radius: 2px;
    color:pink;
    border: 2px solid pink;

    margin: 0;
}

.btn-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .btn:hover{
    border-color: plum;
    color:plum;
    cursor: pointer;
} */

.btn-wrapper input[type=file]:hover, .btn:hover{
    border-color: plum;
    color:plum;
    cursor: pointer;
}

.btn-wrapper input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.direction-btn-group input[type="radio"]{
    opacity: 0;
    position: fixed;
    width: 0;
}

.direction-btn-group label{
    padding: 6px 12px;
    font-size: 15pt;
    border: 2px solid pink;
    border-radius: 5px;
    color: pink;
    margin: 2px;
}

.btn-item {
    text-align: center;
}

.direction-btn-group label:hover{
    border-color: plum;
    color: plum;
    cursor: pointer;
}

.direction-btn-group input:checked + label{
    border-color: plum;
    color: plum;
}

#canvas-div{
    width: 800px;
    /* margin: 2em auto; */

    /* /* display: flex; */
    justify-content: center;
}

#creds h2{
    margin-bottom: 1rem;
}

#creds img{
    width:5em;
    display:block;
    margin: 0 auto;
}

#reviews {
    margin: 0 auto;
    display: block;
    /* width: 250px; */
}

.review {
    /* width: 250px; */
    margin: 3em 0;
}

.review h3{
    text-align: right;
    margin: 0;
}

.review p{
    font-size: 20px;
    text-align: right;
}

.review .my-reply {
    text-align: left;
}

hr {
    width: 50px;
    border-color: pink;
    margin: 3em auto;
}

.settings {
    width: 100%;
}

.settings div {
    display: flex;
    align-items: center;

    margin: 0.5rem 0;
}

.SettingLabel {
    font-size: 18pt;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    margin: 0 2rem;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: plum;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: plum;
    cursor: pointer;
  }

  #speedLabel {
      color: plum;
  }
@media (max-width: 1200px) { 
    h1 {
        font-size: 4.5rem;
    }
    h2{
        font-size: 3.5rem;
    }
    h3, p, label, a {
        font-size: 3rem !important;
    }
}